.home-container {
  display: flex;
  max-height: 100vh;
}

.side-panel-container {
  width: 30vw;
  height: 100%;
  overflow: auto;
}

.main-content-container {
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.graph {
  flex-grow: 1;
}

.pie-chart {
  width: 100%;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .side-panel-container,
  .main-content-container {
    width: 100%;
    height: auto;
  }
}
